{% extends 'base.html' %}

{% block content %}

<div class="container">
    <header class="row">
        <div class="col-12 col-md-6" id="header-text">
            <h2>Let's Build the Future of Drone Collecting Together!!!</h2>
            <h5>create an amazing api tool for drone collectors</h5>
            <button class="btn btn-primary">View our docs</button>
    
            <button class="btn btn-primary">Join Our Slack</button>
        </div>
        <div class="col-12 col-md-6" id="header-image">
            <img src="../../static/images/undraw_server_status_5pbv.svg" alt="drone img" id="drone-image">
        </div>
        
        
    
    </header>

    <!-- End of header -->

    <!-- start if middle -->
    <section class="row">
        <div class="col-12" id="middle-text">
            <h2>Diplay your collection!</h2>
            <p>you can harness the power of an api to expand your collection</p>
        </div>
    </section>

    <!-- end of middle section -->

    <!-- collection of feautures section -->
    <section class="row" id="features-section">
        <div class="col-12 col-md-4">
            <img src="../../static/images/api.png" alt="API image" id="api-image">
            <h4>dedicated api routes</h4>
            <p>
                if you are a fan of using traditional api routes, we have those
            </p>
        </div>

        <div class="col-12 col-md-4">
            <img src="../../static/images/graphql.png" alt="graphql" id="graphql-image">
            <h4>GraphQL API Route</h4>
            <p>
                If you want all data from one endpoint we got what you need
            </p>
        </div>

        <div class="col-4 col-md-4">
            <img src="../../static/images/db.png" alt="db" id="database-image">
            <h4>Backed by postgresql</h4>
            <p>
                Data at your fingertips
            </p>
        </div>
    </section>

    <!-- end of colection features -->
    <!-- Community Section -->

    <section class="row">
        <div class="col-12 col-md-6">
            <img src="../../static/images/undraw_drone_surveillance_kjjg.svg" alt="drone image" id="drone-img">
        </div>
        <div class="col-12 col-md-6">
            <h4>Talk with like minded drone collectors who are harnessing the power</h4>
            <p>
                talk with other devs around the world and collab
                on projects with you r data. Join our slack channel
                and give a start to the project on GitHub!
            </p>
            <div>
                
                <button class="btn btn-primary">View our docs</button>
            
            
                <button class="btn btn-primary">Join Our Slack</button>
            
            </div>
        </div>

    </section>
    <!-- end of community -->
    <!-- Start of footer -->

    <footer class="row" id="footer">
        <div class="col-2 col-md-2">
            <img src="../../static/images/Coding Drones Logo.png" alt="footer logo" id="footer-logo">
        </div>
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4></h4>
                <p>Platform</p>
                <p>Why Coding Drones</p>
                <p>The Coding Drones Project</p>
                <p>Donate</p>
                <p>Spread the Word</p>
                <p>Our Process</p>
                
            </div>
        </div>
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4></h4>
                <p>Platform</p>
                <p>Why Coding Drones</p>
                <p>The Coding Drones Project</p>
                <p>Donate</p>
                <p>Spread the Word</p>
                <p>Our Process</p>

            </div>
        </div>
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4></h4>
                <p>Platform</p>
                <p>Why Coding Drones</p>
                <p>The Coding Drones Project</p>
                <p>Donate</p>
                <p>Spread the Word</p>
                <p>Our Process</p>

            </div>
        </div>
        
    </footer>

</div>


{% endblock content %}